
.container{
background-color: rgb(52, 58, 63);
color: white;
margin-left: 30%;
margin-right: 30%;
margin-top: 30px;
}

.header{
color:rgb(5, 122, 254);


}
.uwu{
color: rgb(5, 122, 254);

}
.cats{

color: rgb(221, 170, 24);

}
